ACTION!="add", GOTO="net_name_end"
SUBSYSTEM!="net", GOTO="net_name_end"
NAME!="", GOTO="net_name_end"

IMPORT{cmdline}="net.ifnames"
ENV{net.ifnames}=="0", GOTO="net_name_end"

SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:1c:42:7a:27:e6", NAME="net0"

LABEL="net_name_end"
